body {
    background: url("images/member_center_page/bg_img.jpg") top center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.container {
    margin-top: 144px;
}

/* -------------------------member l info------------------------- */
.member-l-info {
    padding: 16px 0 32px 0;
    margin-bottom: 32px;
    font-size: 14px;
}

.member-l-info,
.member-l-setting,
.member-r-board {
    background-color: rgba(18, 18, 18, 0.9);
    border-radius: var(--border-radius-8);
    box-shadow: var(--box-shadow-card-lg);
}

.member-l-info .img-wrap {
    width: 75%;
    margin: 32px 0 16px 0;
    padding: 0 40px;
}

.member-l-info .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: var(--border-radius-50-percent);
}

.member-l-info .name {
    margin-bottom: 8px;
    padding: 0 40px;
}

.member-l-info .membership {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
}

.member-l-info .inner-content {
    padding: 4px 12px;
    margin-bottom: 24px;
    border: 0.75px solid white;
    border-radius: var(--border-radius-50);
    margin: 0 auto;
}

.member-l-info .inner-content i {
    margin-right: 8px;
}

.member-l-info p.body2-r {
    line-height: 170%;
    opacity: var(--opacity-75);
}

.member-l-info .social-media {
    display: flex;
    justify-content: space-between;
    padding: 0 48px;
    font-size: 32px;
    opacity: var(--opacity-50);
}

/* -------------------------setting row------------------------- */
.member-l-setting .setting-row {
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.member-l-setting .setting-row .img-wrap {
    width: 28px;
    margin-right: 12px;
    display: flex;
}

.member-l-setting .setting-row .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.member-l-setting .setting-row .body2-r {
    opacity: var(--opacity-50);
}

.member-l-setting .setting-row .ticket-count {
    margin-right: 12px;
}

.member-l-setting .setting-row .fa-chevron-right {
    opacity: var(--opacity-75);
    margin-top: auto 0;
}

/* -------------------------member r board------------------------- */
.member-r-board {
    background-color: rgba(18, 18, 18, 0.9);
    height: 800px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

/* -------------0113-ticket---------------- */
.myticket {
    position: relative;
    width: 100%;
}

.ticket-img-wrap {
    width: 248px;
    margin-right: 40px;
    border-radius: 50px;
    box-shadow: var(--box-shadow-black);
}

.ticket-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.poster-img-wrap {
    position: absolute;
    top: 56px;
    left: 0;
}

.poster-img-wrap img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.ticket-card {
    width: 100%;
}

.content {
    position: absolute;
    top: 24px;
    left: 32px;
    color: #121212;
    font-family: 'Roboto Condensed', sans-serif;
}

.content .body2-r {
    opacity: var(--opacity-50);
}

.content .section-header-b {
    margin-bottom: 4px;
}

.content .order-num {
    color: rgba(18, 18, 18, 0.5);
    margin-bottom: 256px;
}

.content .title-en {
    opacity: var(--opacity-50);
}

.content .col-12 {
    padding: 0;
}

.content-row {
    width: 256px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.pg-rate {
    padding: 4px 12px;
    border-radius: var(--border-radius-50);
    border: 1px solid rgba(18, 18, 18, 0.5);
    color: rgba(18, 18, 18, 0.5);
}