body {
    width: 100%;
    color: #fff;
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
    letter-spacing: 0.5px;
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
    opacity: var(--opacity-50);
}

p { line-height: var(--line-height-160); }

.container-fluid {
    padding-left: 72px;
    padding-right: 72px;
}

.subtitle .section-header-b { margin: auto 0; }

.red-line {
    background-color: var(--brand-color);
    width: 8px;
    height: 32px;
    box-shadow: var(--box-shadow-red);
    margin: auto 20px auto 0px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    padding-right: 16px;
    padding-left: 16px;
}

.roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

.fa-star, .fa-star-half-alt {
    color: #F2C94C;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.25);
}

::-webkit-scrollbar-track {
    background: rgba(18,18,18,0.75);
}

/* ----------48px---------- */
.main-header-b {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 100%;
}

/* ----------34px---------- */
.section-header-b {
    font-size: 2.125rem;
    font-weight: 700;
    letter-spacing: 0.25px;
    opacity: var(--opacity-90);
    line-height: 100%;
}

.section-header-m {
    font-size: 2.125rem;
    font-weight: 500;
    letter-spacing: 0.25px;
    opacity: var(--opacity-90);
    line-height: 100%;
}

.section-header-r {
    font-size: 2.125rem;
    font-weight: 400;
    letter-spacing: 0.25px;
    opacity: var(--opacity-90);
    line-height: 100%;
}

/* ----------20px---------- */
.sub-title-b {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.25px;
    line-height: 100%;
}

.sub-title-m {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 100%;
}

.sub-title-r {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 160%;
}

/* ----------16px---------- */
.body1-b {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.body1-m {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.body1-r {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}

/* ----------italic---------- */
.italic-16 {
    font-size: 1rem;
    font-style: italic;
}

.italic-20 {
    font-size: 1.25rem;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .8px;
}

/* ----------14px---------- */
.body2-b {
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.25px;
}

.body2-m {
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.25px;
}

.body2-r {
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.25px;
}

/* ----------12px---------- */
.caption-12 {
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.4px;
}


/* =================================== @media =================================== */
/* ============================================================================== */

/* ------------------------  小於 1920px  ------------------------*/
@media screen and (max-width: 1920px) {
    
    /* margin bottom */
    .g-section-mb { margin-bottom: 144px; }
    .g-subtitle-mb { margin-bottom: 32px; }
}

@media screen and (min-width: 1400px) and (max-width: 1920px) {
    .container {
        min-width: 1344px;
    }
}

/* 問題：container 有自己預設 1320 嘛？ */
/* ------------------------  小於 1400px  ------------------------*/
@media screen and (max-width: 1400px) {
    
    /* margin bottom */
    .g-section-mb { margin-bottom: 144px; }
}

/* ------------------------  小於 1200px  ------------------------*/
@media screen and (max-width: 1200px) {
    .g-section-mb { margin-bottom: 96px; }
}

/* ------------------------  小於 922px  ------------------------*/
@media screen and (max-width: 992px) {

    /* margin bottom */
    .g-section-mb { margin-bottom: 72px; }
}

/* ------------------------  小於 768px  ------------------------*/
@media screen and (max-width: 768px) {

    .red-line { display: none; }

    /* margin bottom */
    .g-section-mb { margin-bottom: 56px; }
    .g-subtitle-mb { margin-bottom: 24px; }
}

/* ------------------------  小於 576px  ------------------------*/
@media screen and (max-width: 576px) {

    /* global padding-x */
    main { padding: 0 16px; }

    /* margin bottom */
    .g-section-mb { margin-bottom: 40px; }
}

/* ------------------------  小於 418px  ------------------------*/
@media screen and (max-width: 418px) {
    
    /* margin top */
    /* .g-section-mt { margin-top: 96px; } */

    /* margin bottom */
    .g-section-mb { margin-bottom: 40px; }

    .main-header-b { font-size: 34px; }
    .section-header-b { font-size: 20px; }

    .sub-title-r, 
    .sub-title-m,
    .sub-title-b,
    .italic-20 { font-size: 1rem;}

    .body1-r,
    .body1-m,
    .body1-b,
    .italic-16 { font-size: 0.875rem; }


}
